body {
  background-color: #F5F5F5;
  font-family: Raleway, sans-serif;
  width: 1100px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

a{
   color: black;
    text-decoration-thickness: 1px;
}

.header, .cover, .lots, .about, .footer {
  box-sizing: border-box;
  min-height: 100px;
}

.header, .footer {
  padding: 0px 50px;
}

.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__links-list{
  padding: 0 10px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12.48px;
  text-underline-offset: 4px;
}

.header__links-list-item {
 list-style: circle;
 text-decoration: underline;
 text-decoration-thickness: 1px;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
  margin: 92px 22px 96px 28px;
  box-sizing: border-box;
}

.header__address{
  max-width: 240px;
  text-decoration: none;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24px;
  padding-bottom: 10px;
  text-underline-offset: 3px;
}

.cover{
  position: relative;;
  display: flex;
  flex-direction: column;
  padding: 164px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__title{
  text-transform: uppercase;
  font-size: 100px;
  color: #F5F5F5;
  width: 100%;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text{
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding:15px 13px 0 45px;
}

.aligned-text_right{
  padding-top: 18px;
  padding-left: 613px;
}

.cover__description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
  text-transform: uppercase;
  color: #F5F5F5;
  font-weight: 400;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 19px;
  font-weight: 400;
  font-size: 22px;
  font-family: Raleway, sans-serif;
}

.bet-button {
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: white;
  text-decoration: none;
}

.bet-button-text{
border: 1px solid white;
 font-weight: 400;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  padding: 12px 32px 11px 31px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots{
  display: flex;
  flex-direction: column;
  margin: 180px 24px 120px 24px;
}

.lots__heading{
  font-family: Raleway, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.lots__card-list-item{
  width: 334px;
  min-height: 596px;
}

.card-link{
  text-decoration: none;
  position: relative;
}

.card_type_film {
  position: relative;
  background-image: url("../images/card-lot-01.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%

}


.box{
  color: white;
  z-index: 2;
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.card_type_book {
  position: relative;
  background-image: url("../images/card-lot-02.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%
}

.card_type_picture {
  position: relative;
  background-image: url("../images/card-lot-03.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%
}

.card__title{
  font-size: 22px;
  font-weight: 700px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2;
  text-align: start;
}

.card__text{
  font-size: 20px;
  z-index: 2;
  line-height: 24px;
}

.lots__look-more-link{
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about{
margin: 120px 24px 180px 24px;
display: grid;
grid-template-columns: 334px 1fr;
}

.about__column_logo {
  display: flex;
  justify-items: flex-start;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  display: flex;
  align-items: end;
  width: 148px;
  height: 114px;
  margin: auto;
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.about__column{
  padding-left: 24px;
}

.about__title{
  padding-top: 133px;
  text-transform: uppercase;
  font-size: 40px;
}

.about__text{
  font-size: 20px;
}

.description{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  position:relative;
  font-size: 18px;
  text-underline-offset: 3px;
}

.address{
  padding-top:3px;
  line-height: 24.3px;
  text-decoration-thickness: 2px;
}

.footer__menu {
  display: flex;
  padding-left: 53px;
}

.footer__menu-list{
  list-style: none;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 53px;
}

.footer__social-list-item {
  position: relative;
  list-style: none;
}

.footer__menu-list-item_no-bullit{
text-decoration: none;
}

.footer__menu-link{
  font-family: Raleway, sans-serif;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
