body {
  background-color: #f5f5f5;
  font-family: Raleway, sans-serif;
  width: 1100px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

a {
  color: black;
  text-decoration-thickness: 1px;
}

.header,
.cover,
.lots,
.about,
footer {
  box-sizing: border-box;
}

.header,
.footer {
  padding: 0px 50px;
  background-color: #f5f5f5;
}

.header__menu {
  padding-top: 132px;
  padding-bottom: 132px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  row-gap: 13.48px;
  justify-content: space-between;
  list-style-type: circle;
  padding-left: 0;
}

.header__links-list-item:first-child {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.header__links-list-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  padding-left: 7px;
  list-style: circle;
}

.header-link {
  padding-left: 0;
}

.header__links-list-item:last-child {
  padding-right: 13px;
}

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
  margin: 94px 22px 92px 24px;
  box-sizing: border-box;
}

.header__address {
  font-style: normal;
  max-width: 240px;
  text-decoration: none;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 164px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  color: #f5f5f5;
  width: 100%;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding: 18px 15px 0 45px;
}

.aligned-text_right {
  padding-top: 18px;
  padding-left: 614px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 105px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 22px;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 19px;
  font-weight: 400;
  font-size: 22px;
}

.bet-button {
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: white;
  text-decoration: none;
}

.bet-button-text {
  border: 1px solid currentColor;
  font-weight: 400;
  font-size: 22px;
  padding: 11px 32px 11px 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 28px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
  position: relative;
  height: 100%;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.box {
  color: white;
  z-index: 2;
  position: relative;
  padding: 49px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.card__title {
  font-size: 22px;
  font-weight: 700px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2;
  text-align: start;
}

.card__text {
  font-size: 20px;
  z-index: 2;
  line-height: 24px;
}

.lots__look-more-link {
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  margin: 120px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__column_logo {
  display: flex;
  justify-items: flex-start;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  display: flex;
  align-items: end;
  width: 148px;
  height: 114px;
  margin: auto;
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.about__column {
  padding-left: 24px;
}

.about__title {
  padding-top: 136px;
  text-transform: uppercase;
  font-size: 40px;
}

.about__text {
  font-size: 20px;
}

.description {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  font-size: 18px;
  text-underline-offset: 3px;
}

.address {
  padding-top: 102px;
  padding-bottom: 100px;
  line-height: 24px;
  text-decoration-thickness: 2px;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 93px;
}

.footer__social-list-item {
  position: relative;
  list-style: none;
}

.footer__menu-list-item_no-bullit {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer_adress {
  padding-top: 3px;
  line-height: 24px;
  text-decoration-thickness: 2px;
}


